<div class="card" style="width: 18rem" (click)="isZipped = !isZipped">
  <div
    class="card-header"
    [ngStyle]="{
      background: isZipped ? 'white' : 'rgba(var(--bs-body-color-rgb), 0.03)',
      fontWeight: 'bold'
    }"
  >
    {{ title }}

    <span [hidden]="isZipped">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-up"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"
        />
      </svg>
    </span>

    <span [hidden]="!isZipped">
      <svg
        [hidden]="!isZipped"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-down"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </span>
  </div>
  <ul class="list-group list-group-flush" [hidden]="isZipped">
    <li class="list-group-item"><ng-content></ng-content></li>
  </ul>
</div>
