<form class="form-group" [formGroup]="form" (ngSubmit)="changePassword()">
  <label for="oldpassword">Old Password</label>
  <input
    id="oldpassword"
    type="password"
    class="form-control"
    formControlName="oldPassword"
  />
  <div *ngIf="form.pending">Checking Password...</div>
  <div
    *ngIf="oldPassword?.touched && oldPassword?.invalid"
    class="alert alert-danger"
  >
    <div *ngIf="oldPassword?.errors?.['oldPassworNotCorrect']">
      Password is not correct
    </div>
    <div *ngIf="oldPassword?.errors?.['required']">
      Old Password is required
    </div>
  </div>
  <div class="new-password-group" formGroupName="newPassWordGroup">
    <label for="newpassword">New Password</label>
    <input
      id="newpassword"
      type="password"
      class="form-control"
      formControlName="newPassword"
    />
    <div
      *ngIf="newPassword?.touched && newPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="newPassword?.errors?.['required']">
        New Password is required
      </div>
    </div>

    <label for="confirmpassword">Confirm Password</label>
    <input
      id="confirmpassword"
      type="password"
      class="form-control"
      formControlName="confirmPassword"
    />
  </div>

  <div
    *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
    class="alert alert-danger"
  >
    <div *ngIf="confirmPassword?.errors?.['required']">
      Confirm Password is required
    </div>
    <div *ngIf="confirmPassword?.errors?.['differentToNewPassword']">
      Confirm Password is not the same as new password
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
